html, body{
    background-color: #1C1C1C;
    color: rgb(255, 255, 255);
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

main{
    background-color: #1C1C1C;
    color: rgb(255, 255, 255);
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    height: 100%;

}

header{
    color: white;
    text-anchor: middle;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

a:link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: tomato;
}

a:visited{
    color: tomato;
}

li div{
    text-decoration: none;
}

.footer{
    padding: 2.5vh;
    text-decoration: none;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;  
    text-anchor: middle;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #32353b65;

}

.logo{
    color:rgb(197, 193, 193);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:rgb(197, 193, 193);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color:rgb(197, 193, 193);
    margin:5px;
}
@media screen and (max-width:1024px){
    body{
        overflow: hidden;
    }
    }
    .nav-links{
        width: 60%;
    }

@media screen and (max-width:780px){
    .nav-links{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color: #32353ba6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translatex(100%);
        transition:transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

p{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-page{
    height: 75vh;
    text-align: center;
    align-items: center;
    /*justify-content: center;
    display: flex;
    flex-direction: column;    
*/
}

.contacts{
    list-style: none;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.contacts li{
    list-style: none;
}

li{
    list-style: none;
    
}



.wip-text{
    height: 75vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;   
}